<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.it.saan.guest.model.GuestDao">
	<insert id="createOne" parameterType="org.it.saan.guest.model.GuestDto">
		insert into guestbook values(#{writer}, #{content}, sysdate)
	</insert>
	<select id="readLatest" resultType="org.it.saan.guest.model.GuestDto">
		select * from guestbook order by writedate desc
	</select>
</mapper>
